<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-include('nav') %>
    <p class="text-right">
        <%= login != undefined ? '"' + login.name + '" logined.' : '(not logined)' %> 
    </p>
    <h2>Home画面</h2>
    <% console.log(products); %>
    <div class="container">
      <div class="row">
        <% for (let i = 0; i < products.length; i++) { %>
          <div class="col-sm-4">
            <div class="card">
              <img src="uploads/<%= products[i].img %>" alt="画像" class="board_img">
              <div class="card-body">
                <h5 class="card-title"><%= products[i].name %></h5>
                <div class="card-Category">
                  <% if(products[i].Category_1!=null){ %>
                    <p><%= products[i].Category_1 %></p>
                  <% } %>
                  <% if(products[i].Category_2!=null){ %>
                    <p><%= products[i].Category_2 %></p>
                  <% } %>
                  <% if(products[i].Category_3!=null){ %>
                    <p><%= products[i].Category_3 %></p>
                  <% } %>
                </div>
                <p class="card-text"><%= products[i].price %>円</p>
                <p class="card-text"><%= products[i].description %></p>
                <a href="/products/<%= products[i].id %>" class="btn btn-primary">詳細</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
  </body>
</html>